.card-body {
    align-items: center;
    padding: 8px;
    width: 100%;
    background-color: #000000;
}
.card-image {
    max-height: 225px;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.card-image:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px rgb(128, 128, 128);

}