.card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    background-color: #333333;
    color: white;
}
.card-image {
    max-height: 225px;
}